@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav_menu_icon {
  display: none;
}

.nav_first_layout {
  background-color: #003566;
  padding: 15px;
  color: transparent;

  position: relative;
  z-index: 99;
  padding-bottom: 70px;
}

.main_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 2.5%;
  right: 8%;
  width: 85%;
  border-radius: 50px;
  margin: auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 0px 50px;
  /* margin-bottom: 100%; */
}

.main_navbar .logodark {
  width: 130px;
}

.nav_button {
  background-color: #003566;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav_get_arrow {
  background-color: white;
  color: #003566;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
}

.main_navbar .nav_button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #052c65;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;
}

.main_navbar .nav_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fd7e14;
  z-index: -1;
  transition: width 0.8s ease;
}

.main_navbar .nav_button:hover::before {
  width: 100%;
}

.main_navbar .nav_button:hover {
  transform: scale(1);
}

.hero {
  background-image: linear-gradient(to top right, #052c65, transparent),
    url("/images/hero.jpg"); /* Correct Vite public path */

  background-size: 140%; /* Start with zoomed-in image */
  background-position: top;
  background-repeat: no-repeat;
  height: 700px;
  transition: background-size 1s ease-out; /* Smooth zoom-out transition */

  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.main_navbar button {
  border: none;
  background-color: transparent;
}

.hero .left-content {
  padding-left: 130px;
  width: 50%;
  color: white;
}

.hero .section-tag {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.17);
  padding: 7px 20px;
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
}

.hero .left-content h1 {
  font-size: 3.7rem;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
}
.hero .left-content h1 span {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}
.section-tex {
  margin-top: 20px;
  /* font-size: 1.100rem; */
}

.hero .left-content button {
  background-color: transparent;
  border: none;
  margin-top: 50px;
}

.hero .left-content .nav_button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #fd7e14;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;
}

.hero .element_1  {
  position: absolute;
  top: 20%;
  right: 7.5%;
  z-index: 9;
}

.hero .element_4 {
  position: absolute;
  top: 3%;
  right: 0%;
}
.hero .image {
  display: none;
}