@media (max-width: 1115px) {
    .main_navbar {
        /* background-color: red; */
        justify-content: space-between;
    }
    .nav_btn {
        display: none;
    }
    .nav_dropdowns {
        width: auto;
        /* background-color: red; */
    }
    .dropdown-toggle {
        margin-left: 10px;
    }
    .main_navbar .nav_button {
        display: none;
    }
    .hero .left-content {
        padding-left: 90px;
        /* background-color: red; */
        width: 55%;
        color: white;
      }
      .hero .left-content h1 {
        /* font-size: 2.9rem; */
        font-size: 50px;
        
      }
    .hero .element_4 {
        display: none;
    }
    .hero .element_1 {
        top: 30%;
        right: 0%;
        position:relative;
    }
    .hero .element_1 img {
        width: 470px;
    }
   
  }

  @media (max-width: 990px) {
    .main_navbar {
        padding: 0px 30px;
    }
    .nav_dropdowns {
        display: none;
    }
    .nav_menu_icon {
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    .nav_menu_icon .menu_icon {
        font-size: 25px;
        color: #003566;
        margin-right: -25px;
    } 
  }

  @media (max-width: 980px) {
    .nav_first_layout  {
        display: none;
    }
    .hero .left-content {
        width: 80%;
        padding-left: 80px;
    }
    .hero {
        padding-top: 150px;
        padding-bottom: 60px;
        flex-wrap: wrap;
        height: auto;
        background-size: cover; /* Start with zoomed-in image */
      
    }
    .hero .element_1 {
        display: flex;
        justify-content: center;
        display: none;
    }
    .hero .element_1 img {
        /* width: 500px; */
    }

  }

  @media (max-width: 600px) {
    .main_navbar {
        width: 93%;
        right:4%;
        padding: 0px 23px;
        /* margin: 20px; */
    }
    .hero .left-content {
        padding-left: 20px;
        /* background-color: red; */
        width:90%;
        color: white;
      }
      .hero .left-content h1 {
        /* font-size: 2.9rem; */
        font-size: 40px;
        
      }
      .hero .element_1 {
        display: block;
      }

  }

  @media (max-width: 480px) {
    .hero .element_1 {
        display: block;
    }
    .hero .element_1  {
        position: relative;
        top: 100%;
        left: 7%;
        z-index: 9;
      }
      .hero .element_1 img {
        width: 400px;
      }
  }