
.logistics {
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-color: #F0F6F3;
  margin-bottom: 150px;
}

.logistics_services {
  width: auto;
  background-image: url(https://trazen.netlify.app/assets/images/dotted-map.svg);
  background-position: top;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 470px;
}

.logistics_services .first_p {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #fff;
  padding: 7px 20px;
  color: #ff7d44;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

.logistics_services h2 {
  color: #013566;
  font-size: 3rem;
  letter-spacing: -2px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.logistics_services .section_text {
  width: 560px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.125rem;
  color: #5c6672;
  line-height: 1.75;
}

@media (max-width: 600px) {
  .logistics_services h2  {
    font-size: 2rem;
    padding: 0px 20px;
  }
  .logistics_services .section_text {
    width: auto;
    padding: 0px 10px;
    font-size: 1.025rem;
  }
}