

@media (max-width: 600px) {
  .logistics_services h2  {
    font-size: 2rem;
    padding: 0px 20px;
  }
  .logistics_services .section_text {
    width: auto;
    padding: 0px 10px;
    font-size: 1.025rem;
  }
}